//! block items
.items-wraper
	flex(between)
	fw()
.items-el
	width 100%
	margin-bottom 20px
	min-width 170px
	position relative
	padding 20px
//.items-info 
.items-new
	position absolute
	top 0
	right 20px
	padding 0px 10px
	background green
	display inline
	text-align center 
	color white
.items-title
	font-size 22px
	font-weight 700 
	margin-bottom 15px
.items-text
	font-size 18px
	margin-bottom 20px
.items-get
	flex(between)
.items-weight
	font-family Core Mellow Compressed
	font-size 18px
		
.items-cost
	font-family Core Mellow Compressed
	font-size 25px
	.rub
		font-size 14px
.items-basket
	@extend .btn--dark
	font-size 24px
	text-transform inherit
.items-wraper__title
	font-size 21px
	color white
	up()
	padding 10px 30% 10px 30px
	background dark 
	margin 30px 0
	max-width 80%
//!block items end

