mixin m-header()
	//block m-header
	.main-cont.main-cont--header
		.m-header
			.m-header__toggle.icon.icon-menu-toggle
			a(href="#").m-header__logo
				img(src="img/m-logo.png", alt="")
			.m-header__basket.icon.icon-cart
				.m-header__basket-val 
					span 10
		.header__basket-wrap
			.basket-cond
				.basket-cond__cont
					.basket-cond__close
					.basket-cond__title  У вас в корзине:
					.basket-cond__wrap
						- for (var i = 0; i < 20; i++)
							.basket-cond__el
								.basket-cond__img
									img(src="img/pizza-small.png", alt="")
								.basket-cond__info
									.basket-cond__info-title Чизбургер пицца
									.basket-cond__numb 1
									.basket-cond__cost 410
										span.rub c
					.basket-cond__footer
						.basket-cond__get Оформить заказ
						.basket-cond__total 1230
							span.rub c
	.m-top-menu
		a(href="#").m-top-menu-el.m-top-menu-el--active Меню
		a(href="#").m-top-menu-el О доставке

	//block m-header end