//! block m-header
.m-header
	flex(between)
	padding 10px 20px
	    box-shadow 0px 4px 8px #dfdfdf
.m-header__toggle
	font-size 24px
.m-header__basket
	font-size 32px
	.icon-cart
		position relative
.m-header__basket-val
	position absolute
	size 20 20
	background red
	color white
	round()
	font-size 14px
	text-align center 
	flex(mid)
	top -9px
	right -5px
	margin-top 5px
.main-cont--header
	position fixed
	left 0
	top 0
	z-index 100
	background white 
	.basket-cond
		top 65px
		right 5px
		width 300px
	.basket-cond__wrap
		margin-left 5px
.m-top-menu
	f()
	margin-top 90px
.m-top-menu-el
	up()
	flex 1
	width 100%
	text-align center
	font-size 23px
	font-family Myriad  Pro
.m-top-menu-el--active
	color red
	border-bottom 1px solid red 
//!block m-header end