mixin order-recom()
	//block order-recom
	.recomend
		- for (var i = 0; i < 2; i++)
			.recomend__el
				.recomend__title Рекомендуем
				.recomend__img 
					img(src="img/food.png", alt="")
				.recomend__info
					.recomend__name Салат Греческий
					.recomend__text Оливки, брынза, лук,  перец, огурцы, томаты, шампиньоны, красный лук, моцарелла, базилик
					.recomend__get
						.recomend__price 670
							span.rub c
						.recomend__link В корзину
	//block order-recom end