//! block slider
.slider
	margin-top 15px
	margin-bottom 60px
.slider__el
	display inline-block
	background-size cover
	width 100%
.arrow-left
	icon-arrow(left, 15px, white, 2px)
	border-radius 0px 50% 50% 0px
.arrow-right
	icon-arrow(right, 15px, white, 2px)
	border-radius  50%  0px 0px 50%
	padding-left 5px!important
.arrow-el
	padding 5px 0px
	size 20 30
	display inline-block
	background rgba(17, 17, 17, 0.67);
	padding-top 8px 
	
//!block slider end