mixin slider()
	//block slider
	.slider.owl-carousel
		a(href="#" ).slider__el
			img(src="img/slider-1.jpeg", alt="")
		a(href="#" ).slider__el
			img(src="img/slider-2.jpeg", alt="")
	//block slider end