include block_html/_style.jade
include ../module/**/*.jade

+m-header()
+m-menu()
.section-wraper.section-wraper--page
	.main-cont
		.section-info.section-info__order
			.section-toolbar
				+order-recom()
			.section-content
				+m-order-list()
+footer()
+modal-item()
+modal-city()
+modal-auth()

include ./block_html/_script.jade
include block_html/widget.html