@font-face {font-family: "main";
	src: url("../fonts/main.eot"); /* IE9*/
	src: url("../fonts/main.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("../fonts/main.woff") format("woff"), /* chrome、firefox */
	url("../fonts/main.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("../fonts/main.svg#Futura LT W01 Book") format("svg"); /* iOS 4.1- */
}

[data-icon]:before {
  font-family: "main" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "main" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}


.icon-main:before {
  content: "\61";
}
.icon-youtube-alt:before {
  content: "\62";
}
.icon-facebook:before {
  content: "\63";
}
.icon-instagrem:before {
  content: "\64";
}
.icon-cart:before {
  content: "\65";
}
.icon-clock:before {
  content: "\66";
}
.icon-attantion:before {
  content: "\67";
}
.icon-car:before {
  content: "\68";
}
.icon-six:before {
  content: "\69";
}
.icon-wallet:before {
  content: "\6a";
}
.icon-search:before {
  content: "\6b";
}
.icon-phone:before {
  content: "\6c";
}
.icon-call:before {
  content: "\6d";
}
.icon-rocket:before {
  content: "\6e";
}
.icon-present:before {
  content: "\6f";
}
.icon-bag:before {
  content: "\70";
}
.icon-message:before {
  content: "\71";
}
.icon-mail:before {
  content: "\72";
}
.icon-icon-13:before {
  content: "\73";
}
.icon-card:before {
  content: "\74";
}
.icon-sphere:before {
  content: "\75";
}
.icon-star:before {
  content: "\76";
}
.icon-menu-toggle:before {
  content: "\77";
}
.icon-user:before {
  content: "\79";
}
.icon-left-open-big:before {
  content: "\7a";
}
.icon-user-1:before {
  content: "\41";
}
.icon-location:before {
  content: "\42";
}
.icon-delete-garbage-streamline:before {
  content: "\78";
}




//Add Fonts
//@font-face {font-family: "NAME_FONT";
//  src: url("../fonts/NAME_FONT.eot"); /* IE9*/
//  src: url("../fonts/NAME_FONT.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
//  url("../fonts/NAME_FONT.woff2") format("woff2"), /* chrome、firefox */
//  url("../fonts/NAME_FONT.woff") format("woff"), /* chrome、firefox */
//  url("../fonts/NAME_FONT.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
//  url("../fonts/NAME_FONT.svg#Futura LT W01 Book") format("svg"); /* iOS 4.1- */
//}

/* font-family: "MyriadProRegular"; */
@font-face {
    font-family: "Myriad Pro";
    src: url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
/* font-family: "MyriadProBold"; */
@font-face {
    font-family: "Myriad Pro";
    src: url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.eot");
    src: url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.woff") format("woff"),
    url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
  font-family: 'MyriadProCondensed';
  src: url('../fonts/MyriadProCondensed/MyriadPro-LightCond.eot');
  src: url('../fonts/MyriadProCondensed/MyriadPro-LightCond.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadProCondensed/MyriadPro-LightCond.woff') format('woff'),
    url('../fonts/MyriadProCondensed/MyriadPro-LightCond.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
    font-family: "MyriadProCondensed";
    src: url("../fonts/MyriadProCondensed/MyriadProCondRegular.eot");
    src: url("../fonts/MyriadProCondensed/MyriadProCondRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProCondensed/MyriadProCondRegular.woff") format("woff"),
    url("../fonts/MyriadProCondensed/MyriadProCondRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadProCondensed";
    src: url("../fonts/MyriadProCondensed/MyriadProCondBold.eot");
    src: url("../fonts/MyriadProCondensed/MyriadProCondBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProCondensed/MyriadProCondBold.woff") format("woff"),
    url("../fonts/MyriadProCondensed/MyriadProCondBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
/*@font-face {
  font-family: 'Core Mellow Compressed';
  src: url('../fonts/CoreMellow/CoreMellowCondensed.eot');
  src: url('../fonts/CoreMellow/CoreMellowCondensed.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CoreMellow/CoreMellowCondensed.woff') format('woff'),
    url('../fonts/CoreMellow/CoreMellowCondensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}*/

@font-face {
  font-family: 'Core Mellow Compressed';
  src: url('../fonts/CoreMellow/CoreMellowCompressed-bold.eot');
  src: url('../fonts/CoreMellow/CoreMellowCompressed-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CoreMellow/CoreMellowCompressed-bold.woff') format('woff'),
    url('../fonts/CoreMellow/CoreMellowCompressed-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Iskra C Y R';
  src: url('../fonts/Iskra/IskraCYR-Regular.eot');
  src: url('../fonts/Iskra/IskraCYR-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Iskra/IskraCYR-Regular.woff') format('woff'),
    url('../fonts/Iskra/IskraCYR-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Iskra C Y R';
  src: url('../fonts/Iskra/IskraCYR-Bold.eot');
  src: url('../fonts/Iskra/IskraCYR-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Iskra/IskraCYR-Bold.woff') format('woff'),
    url('../fonts/Iskra/IskraCYR-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


//Add fotn rub write .rub a - (a,b,c,d - change type font)
@font-face {
    font-family: 'RUB';
    src: url('../fonts/rouble-webfont.eot');
    src: url('../fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rouble-webfont.woff2') format('woff2'),
         url('../fonts/rouble-webfont.woff') format('woff'),
         url('../fonts/rouble-webfont.ttf') format('truetype'),
         url('../fonts/rouble-webfont.svg#als_rublregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.rub{
	font-family 'RUB'!important
	font-style normal 
}