mixin modal-item()
	//block modal-item
	.modal.modal-item
		.modal-item__title Чизбургер пицца
		.modal-close
		.modal-item__img
			img(src="img/pizza-small.png", alt="")
		.modal-item__info
			.modal-item__desc
				.modal-item__text Томатный соус, брынза, маслины, сладкий перец, томаты, шампиньоны, красный лук, моцарелла, базилик
				.modal-item__get
					.modal-item__price 410
						span.rub c
					.modal-item__link в корзину
			.modal-item__condition
				.modal-item__condition-el пищевая ценность на 100г
				.modal-item__condition-el калории: 174 ккал
				.modal-item__condition-el углеводы: 20 г
				.modal-item__condition-el белки: 5,6 г
				.modal-item__condition-el жиры: 4,3 г
	//block modal-item end