//! block footer
.footer-wrap
	background dark 
	color white
	margin-top 60px
.footer
	.type
		font-size 24px
		font-weight 300 
		padding 10px 20px
.footer-info
	a
		color white
		text-decoration underline
	.rub
		font-size 14px
//.type 
.footer-get
	border-top 1px solid darken(dark,30)
	border-bottom 1px solid darken(dark,30)
.footer-basket 
	@extend .btn--dark-light
	margin-top 30px
	text-transform inherit
.footer-sub-wrap
	text-align center
	padding 20px
//.main-cont 
.footer-sub
	padding 20px
	flex(between)
.footer-sub-link
	text-decoration underline
.footer-sub-el
	font-size 20px
//.type 
.footer-sub-phone
	color black
	font-family  'Core Mellow Compressed';
	font-size 32px
	font-weight 400
//.social
.footer-sub-soc
	padding 20px
	flex(mid)
	color white
	.social__el
		color white
		border-color white
.social__el
	flex 1
.zone-delivery
	border-bottom 1px solid darken(dark,30)
	
//.icon 
//.icon-youtube-alt 
//.icon-main 
//.icon-facebook 
//.icon-instagrem 
//!block footer end