mixin footer()
	//block footer
	.footer-wrap
		.main-cont
			.footer
				.footer-info
					.type.zone-delivery
						a(href="#") Зона доставки 
						| ограничена
					.type Минимальный заказ - 500 
						span.rub c
					.type При оплате наличными <br> минимальный заказ - 8000
						span.rub c
					.type Все цены в меню указаны без учета скидок
				.footer-get
					.type Правовая информация
				.footer-sub-el.footer-sub-soc
					.social
						a(href="#").social__el
							i.icon.icon-youtube-alt
						a(href="#").social__el
							i.icon.icon-main
						a(href="#").social__el
							i.icon.icon-facebook
						a(href="#").social__el
							i.icon.icon-instagrem
	.footer-sub-wrap
		.type 2016  Сеть ресторанов “Название ресторана”
			
				
				
	//block footer end