<!DOCTYPE html>
<html lang='en'>

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="format-detection" content="telephone=no" />
		<title>Document</title>
		<!--build:css css/vendor.css-->
		<link rel="stylesheet" href="bower/normalize.css/normalize.css" />
		<link rel="icon" type="image/vnd.microsoft.icon" href="img/favicon.ico" />
		<link rel="stylesheet" href="bower/flexbox-grid-stylus/dist/flexbox-grid.min.css" />
		<!--link(rel="stylesheet", href="bower/components-font-awesome/css/font-awesome.css")-->
		<link rel="stylesheet" href="bower/owl.carousel/dist/assets/owl.carousel.css" />
		<link rel="stylesheet" href="bower/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css" />
		<!--endbuild-->
		<link rel="stylesheet" href="css/style_stock.css" />
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<!-- mixin nameMixin()-->
	<!-- - var args = Array.prototype.slice.call(arguments)-->
	<!-- - for item in args-->

	<body>
		<!--block m-header-->
		<div class="main-cont">
			<div class="main-cont--header">
				<div class="m-header">
					<div class="m-header__toggle icon icon-menu-toggle"></div>
					<a href="#" class="m-header__logo">
						<img src="img/m-logo.png" alt="" />
					</a>
					<div class="m-header__basket icon icon-cart">
						<div class="m-header__basket-val">
							<span>10</span>
						</div>
					</div>
				</div>
				<div class="header__basket-wrap">
					<div class="basket-cond">
						<div class="basket-cond__cont">
							<div class="basket-cond__close"></div>
							<div class="basket-cond__title"> У вас в корзине:</div>
							<div class="basket-cond__wrap">
								<div class="basket-cond__el">
									<div class="basket-cond__img">
										<img src="img/pizza-small.png" alt="" />
									</div>
									<div class="basket-cond__info">
										<div class="basket-cond__info-title">Чизбургер пицца</div>
										<div class="basket-cond__numb">1</div>
										<div class="basket-cond__cost">410
											<span class="rub">c</span>
										</div>
									</div>
								</div>
								<div class="basket-cond__el">
									<div class="basket-cond__img">
										<img src="img/pizza-small.png" alt="" />
									</div>
									<div class="basket-cond__info">
										<div class="basket-cond__info-title">Чизбургер пицца</div>
										<div class="basket-cond__numb">1</div>
										<div class="basket-cond__cost">410
											<span class="rub">c</span>
										</div>
									</div>
								</div>
								<div class="basket-cond__el">
									<div class="basket-cond__img">
										<img src="img/pizza-small.png" alt="" />
									</div>
									<div class="basket-cond__info">
										<div class="basket-cond__info-title">Чизбургер пицца</div>
										<div class="basket-cond__numb">1</div>
										<div class="basket-cond__cost">410
											<span class="rub">c</span>
										</div>
									</div>
								</div>
								<div class="basket-cond__el">
									<div class="basket-cond__img">
										<img src="img/pizza-small.png" alt="" />
									</div>
									<div class="basket-cond__info">
										<div class="basket-cond__info-title">Чизбургер пицца</div>
										<div class="basket-cond__numb">1</div>
										<div class="basket-cond__cost">410
											<span class="rub">c</span>
										</div>
									</div>
								</div>
								<div class="basket-cond__el">
									<div class="basket-cond__img">
										<img src="img/pizza-small.png" alt="" />
									</div>
									<div class="basket-cond__info">
										<div class="basket-cond__info-title">Чизбургер пицца</div>
										<div class="basket-cond__numb">1</div>
										<div class="basket-cond__cost">410
											<span class="rub">c</span>
										</div>
									</div>
								</div>
								<div class="basket-cond__el">
									<div class="basket-cond__img">
										<img src="img/pizza-small.png" alt="" />
									</div>
									<div class="basket-cond__info">
										<div class="basket-cond__info-title">Чизбургер пицца</div>
										<div class="basket-cond__numb">1</div>
										<div class="basket-cond__cost">410
											<span class="rub">c</span>
										</div>
									</div>
								</div>
								<div class="basket-cond__el">
									<div class="basket-cond__img">
										<img src="img/pizza-small.png" alt="" />
									</div>
									<div class="basket-cond__info">
										<div class="basket-cond__info-title">Чизбургер пицца</div>
										<div class="basket-cond__numb">1</div>
										<div class="basket-cond__cost">410
											<span class="rub">c</span>
										</div>
									</div>
								</div>
								<div class="basket-cond__el">
									<div class="basket-cond__img">
										<img src="img/pizza-small.png" alt="" />
									</div>
									<div class="basket-cond__info">
										<div class="basket-cond__info-title">Чизбургер пицца</div>
										<div class="basket-cond__numb">1</div>
										<div class="basket-cond__cost">410
											<span class="rub">c</span>
										</div>
									</div>
								</div>
								<div class="basket-cond__el">
									<div class="basket-cond__img">
										<img src="img/pizza-small.png" alt="" />
									</div>
									<div class="basket-cond__info">
										<div class="basket-cond__info-title">Чизбургер пицца</div>
										<div class="basket-cond__numb">1</div>
										<div class="basket-cond__cost">410
											<span class="rub">c</span>
										</div>
									</div>
								</div>
								<div class="basket-cond__el">
									<div class="basket-cond__img">
										<img src="img/pizza-small.png" alt="" />
									</div>
									<div class="basket-cond__info">
										<div class="basket-cond__info-title">Чизбургер пицца</div>
										<div class="basket-cond__numb">1</div>
										<div class="basket-cond__cost">410
											<span class="rub">c</span>
										</div>
									</div>
								</div>
								<div class="basket-cond__el">
									<div class="basket-cond__img">
										<img src="img/pizza-small.png" alt="" />
									</div>
									<div class="basket-cond__info">
										<div class="basket-cond__info-title">Чизбургер пицца</div>
										<div class="basket-cond__numb">1</div>
										<div class="basket-cond__cost">410
											<span class="rub">c</span>
										</div>
									</div>
								</div>
								<div class="basket-cond__el">
									<div class="basket-cond__img">
										<img src="img/pizza-small.png" alt="" />
									</div>
									<div class="basket-cond__info">
										<div class="basket-cond__info-title">Чизбургер пицца</div>
										<div class="basket-cond__numb">1</div>
										<div class="basket-cond__cost">410
											<span class="rub">c</span>
										</div>
									</div>
								</div>
								<div class="basket-cond__el">
									<div class="basket-cond__img">
										<img src="img/pizza-small.png" alt="" />
									</div>
									<div class="basket-cond__info">
										<div class="basket-cond__info-title">Чизбургер пицца</div>
										<div class="basket-cond__numb">1</div>
										<div class="basket-cond__cost">410
											<span class="rub">c</span>
										</div>
									</div>
								</div>
								<div class="basket-cond__el">
									<div class="basket-cond__img">
										<img src="img/pizza-small.png" alt="" />
									</div>
									<div class="basket-cond__info">
										<div class="basket-cond__info-title">Чизбургер пицца</div>
										<div class="basket-cond__numb">1</div>
										<div class="basket-cond__cost">410
											<span class="rub">c</span>
										</div>
									</div>
								</div>
								<div class="basket-cond__el">
									<div class="basket-cond__img">
										<img src="img/pizza-small.png" alt="" />
									</div>
									<div class="basket-cond__info">
										<div class="basket-cond__info-title">Чизбургер пицца</div>
										<div class="basket-cond__numb">1</div>
										<div class="basket-cond__cost">410
											<span class="rub">c</span>
										</div>
									</div>
								</div>
								<div class="basket-cond__el">
									<div class="basket-cond__img">
										<img src="img/pizza-small.png" alt="" />
									</div>
									<div class="basket-cond__info">
										<div class="basket-cond__info-title">Чизбургер пицца</div>
										<div class="basket-cond__numb">1</div>
										<div class="basket-cond__cost">410
											<span class="rub">c</span>
										</div>
									</div>
								</div>
								<div class="basket-cond__el">
									<div class="basket-cond__img">
										<img src="img/pizza-small.png" alt="" />
									</div>
									<div class="basket-cond__info">
										<div class="basket-cond__info-title">Чизбургер пицца</div>
										<div class="basket-cond__numb">1</div>
										<div class="basket-cond__cost">410
											<span class="rub">c</span>
										</div>
									</div>
								</div>
								<div class="basket-cond__el">
									<div class="basket-cond__img">
										<img src="img/pizza-small.png" alt="" />
									</div>
									<div class="basket-cond__info">
										<div class="basket-cond__info-title">Чизбургер пицца</div>
										<div class="basket-cond__numb">1</div>
										<div class="basket-cond__cost">410
											<span class="rub">c</span>
										</div>
									</div>
								</div>
								<div class="basket-cond__el">
									<div class="basket-cond__img">
										<img src="img/pizza-small.png" alt="" />
									</div>
									<div class="basket-cond__info">
										<div class="basket-cond__info-title">Чизбургер пицца</div>
										<div class="basket-cond__numb">1</div>
										<div class="basket-cond__cost">410
											<span class="rub">c</span>
										</div>
									</div>
								</div>
								<div class="basket-cond__el">
									<div class="basket-cond__img">
										<img src="img/pizza-small.png" alt="" />
									</div>
									<div class="basket-cond__info">
										<div class="basket-cond__info-title">Чизбургер пицца</div>
										<div class="basket-cond__numb">1</div>
										<div class="basket-cond__cost">410
											<span class="rub">c</span>
										</div>
									</div>
								</div>
							</div>
							<div class="basket-cond__footer">
								<div class="basket-cond__get">Оформить заказ</div>
								<div class="basket-cond__total">1230
									<span class="rub">c</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="m-top-menu">
				<a href="#" class="m-top-menu-el m-top-menu-el--active">Меню</a>
				<a href="#" class="m-top-menu-el">О доставке</a>
			</div>
		</div>
		<!--block m-header end-->
		<!--block m-menu-->
		<div class="m-menu">
			<div class="m-menu__cont">
				<div class="m-menu__close">
					<div class="icon icon-left-open-big"></div>
				</div>
				<div class="m-menu__cont-scroll">
					<a href="#" class="m-menu__head-el">
						<div class="icon icon-user"></div>Личный кабинет</a>
					<a href="#" class="m-menu__head-el">
						<div class="icon icon-location"></div>Нижний новгород</a>
					<div class="m-menu__wrap">
						<a href="#" class="m-menu__el m-menu__el--active">пицца</a>
						<a href="#" class="m-menu__el">Роллы</a>
						<a href="#" class="m-menu__el">Комбо-наборы</a>
						<a href="#" class="m-menu__el">Горячие блюда</a>
						<a href="#" class="m-menu__el">Салаты</a>
						<a href="#" class="m-menu__el">Супы</a>
						<a href="#" class="m-menu__el">Сендвичи и шаверма</a>
						<a href="#" class="m-menu__el">Десерты</a>
						<a href="#" class="m-menu__el">Напитки</a>
					</div>
					<a href="#" class="m-menu__footer-el"> Условия доставки</a>
					<a href="#" class="m-menu__footer-el"> Акции</a>
					<div class="m-menu__call">
						<div class="m-menu__call-title">Звонок бесплатный</div>
						<div class="m-menu__call-number">8 (800) 100-7-50</div>
					</div>
					<div class="social">
						<a href="#" class="social__el">
							<object type="image/svg+xml" data="img/vk.svg" class="social__icon"></object>
						</a>
						<a href="#" class="social__el">
							<object type="image/svg+xml" data="img/instagram.svg" class="social__icon"></object>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!--block m-menu end-->
		<div class="section-wraper">
			<div class="main-cont">
				<div class="section-info">
					<div class="m-section-content">
						<!--block items-->
						<div class="items-wraper">
							<div class="items-wraper__title">Пиццы</div>
							<div class="items-el">
								<div class="items-new">новинка</div>
								<div class="items-img">
									<img src="img/pizza-item.png" alt="" />
								</div>
								<div class="items-info">
									<div class="items-title">Чизбургер пицца</div>
									<div class="items-text">Томатный соус, брынза, маслины, сладкий перец, томаты, шампиньоны, красный лук, моцарелла, базилик</div>
									<div class="items-get">
										<div class="items-weight">400 гр.</div>
										<div class="items-cost">380
											<span class="rub">c</span>
										</div>
										<div class="items-basket">в корзину</div>
									</div>
								</div>
							</div>
							<div class="items-el">
								<div class="items-new">новинка</div>
								<div class="items-img">
									<img src="img/pizza-item.png" alt="" />
								</div>
								<div class="items-info">
									<div class="items-title">Чизбургер пицца</div>
									<div class="items-text">Томатный соус, брынза, маслины, сладкий перец, томаты, шампиньоны, красный лук, моцарелла, базилик</div>
									<div class="items-get">
										<div class="items-weight">400 гр.</div>
										<div class="items-cost">380
											<span class="rub">c</span>
										</div>
										<div class="items-basket">в корзину</div>
									</div>
								</div>
							</div>
							<div class="items-el">
								<div class="items-new">новинка</div>
								<div class="items-img">
									<img src="img/pizza-item.png" alt="" />
								</div>
								<div class="items-info">
									<div class="items-title">Чизбургер пицца</div>
									<div class="items-text">Томатный соус, брынза, маслины, сладкий перец, томаты, шампиньоны, красный лук, моцарелла, базилик</div>
									<div class="items-get">
										<div class="items-weight">400 гр.</div>
										<div class="items-cost">380
											<span class="rub">c</span>
										</div>
										<div class="items-basket">в корзину</div>
									</div>
								</div>
							</div>
							<div class="items-el">
								<div class="items-new">новинка</div>
								<div class="items-img">
									<img src="img/pizza-item.png" alt="" />
								</div>
								<div class="items-info">
									<div class="items-title">Чизбургер пицца</div>
									<div class="items-text">Томатный соус, брынза, маслины, сладкий перец, томаты, шампиньоны, красный лук, моцарелла, базилик</div>
									<div class="items-get">
										<div class="items-weight">400 гр.</div>
										<div class="items-cost">380
											<span class="rub">c</span>
										</div>
										<div class="items-basket">в корзину</div>
									</div>
								</div>
							</div>
							<div class="items-el">
								<div class="items-new">новинка</div>
								<div class="items-img">
									<img src="img/pizza-item.png" alt="" />
								</div>
								<div class="items-info">
									<div class="items-title">Чизбургер пицца</div>
									<div class="items-text">Томатный соус, брынза, маслины, сладкий перец, томаты, шампиньоны, красный лук, моцарелла, базилик</div>
									<div class="items-get">
										<div class="items-weight">400 гр.</div>
										<div class="items-cost">380
											<span class="rub">c</span>
										</div>
										<div class="items-basket">в корзину</div>
									</div>
								</div>
							</div>
							<div class="items-el">
								<div class="items-new">новинка</div>
								<div class="items-img">
									<img src="img/pizza-item.png" alt="" />
								</div>
								<div class="items-info">
									<div class="items-title">Чизбургер пицца</div>
									<div class="items-text">Томатный соус, брынза, маслины, сладкий перец, томаты, шампиньоны, красный лук, моцарелла, базилик</div>
									<div class="items-get">
										<div class="items-weight">400 гр.</div>
										<div class="items-cost">380
											<span class="rub">c</span>
										</div>
										<div class="items-basket">в корзину</div>
									</div>
								</div>
							</div>
							<div class="items-el">
								<div class="items-new">новинка</div>
								<div class="items-img">
									<img src="img/pizza-item.png" alt="" />
								</div>
								<div class="items-info">
									<div class="items-title">Чизбургер пицца</div>
									<div class="items-text">Томатный соус, брынза, маслины, сладкий перец, томаты, шампиньоны, красный лук, моцарелла, базилик</div>
									<div class="items-get">
										<div class="items-weight">400 гр.</div>
										<div class="items-cost">380
											<span class="rub">c</span>
										</div>
										<div class="items-basket">в корзину</div>
									</div>
								</div>
							</div>
							<div class="items-el">
								<div class="items-new">новинка</div>
								<div class="items-img">
									<img src="img/pizza-item.png" alt="" />
								</div>
								<div class="items-info">
									<div class="items-title">Чизбургер пицца</div>
									<div class="items-text">Томатный соус, брынза, маслины, сладкий перец, томаты, шампиньоны, красный лук, моцарелла, базилик</div>
									<div class="items-get">
										<div class="items-weight">400 гр.</div>
										<div class="items-cost">380
											<span class="rub">c</span>
										</div>
										<div class="items-basket">в корзину</div>
									</div>
								</div>
							</div>
							<div class="items-el">
								<div class="items-new">новинка</div>
								<div class="items-img">
									<img src="img/pizza-item.png" alt="" />
								</div>
								<div class="items-info">
									<div class="items-title">Чизбургер пицца</div>
									<div class="items-text">Томатный соус, брынза, маслины, сладкий перец, томаты, шампиньоны, красный лук, моцарелла, базилик</div>
									<div class="items-get">
										<div class="items-weight">400 гр.</div>
										<div class="items-cost">380
											<span class="rub">c</span>
										</div>
										<div class="items-basket">в корзину</div>
									</div>
								</div>
							</div>
							<div class="items-el">
								<div class="items-new">новинка</div>
								<div class="items-img">
									<img src="img/pizza-item.png" alt="" />
								</div>
								<div class="items-info">
									<div class="items-title">Чизбургер пицца</div>
									<div class="items-text">Томатный соус, брынза, маслины, сладкий перец, томаты, шампиньоны, красный лук, моцарелла, базилик</div>
									<div class="items-get">
										<div class="items-weight">400 гр.</div>
										<div class="items-cost">380
											<span class="rub">c</span>
										</div>
										<div class="items-basket">в корзину</div>
									</div>
								</div>
							</div>
							<div class="items-el">
								<div class="items-new">новинка</div>
								<div class="items-img">
									<img src="img/pizza-item.png" alt="" />
								</div>
								<div class="items-info">
									<div class="items-title">Чизбургер пицца</div>
									<div class="items-text">Томатный соус, брынза, маслины, сладкий перец, томаты, шампиньоны, красный лук, моцарелла, базилик</div>
									<div class="items-get">
										<div class="items-weight">400 гр.</div>
										<div class="items-cost">380
											<span class="rub">c</span>
										</div>
										<div class="items-basket">в корзину</div>
									</div>
								</div>
							</div>
							<div class="items-el">
								<div class="items-new">новинка</div>
								<div class="items-img">
									<img src="img/pizza-item.png" alt="" />
								</div>
								<div class="items-info">
									<div class="items-title">Чизбургер пицца</div>
									<div class="items-text">Томатный соус, брынза, маслины, сладкий перец, томаты, шампиньоны, красный лук, моцарелла, базилик</div>
									<div class="items-get">
										<div class="items-weight">400 гр.</div>
										<div class="items-cost">380
											<span class="rub">c</span>
										</div>
										<div class="items-basket">в корзину</div>
									</div>
								</div>
							</div>
							<div class="items-el">
								<div class="items-new">новинка</div>
								<div class="items-img">
									<img src="img/pizza-item.png" alt="" />
								</div>
								<div class="items-info">
									<div class="items-title">Чизбургер пицца</div>
									<div class="items-text">Томатный соус, брынза, маслины, сладкий перец, томаты, шампиньоны, красный лук, моцарелла, базилик</div>
									<div class="items-get">
										<div class="items-weight">400 гр.</div>
										<div class="items-cost">380
											<span class="rub">c</span>
										</div>
										<div class="items-basket">в корзину</div>
									</div>
								</div>
							</div>
							<div class="items-el">
								<div class="items-new">новинка</div>
								<div class="items-img">
									<img src="img/pizza-item.png" alt="" />
								</div>
								<div class="items-info">
									<div class="items-title">Чизбургер пицца</div>
									<div class="items-text">Томатный соус, брынза, маслины, сладкий перец, томаты, шампиньоны, красный лук, моцарелла, базилик</div>
									<div class="items-get">
										<div class="items-weight">400 гр.</div>
										<div class="items-cost">380
											<span class="rub">c</span>
										</div>
										<div class="items-basket">в корзину</div>
									</div>
								</div>
							</div>
							<div class="items-el">
								<div class="items-new">новинка</div>
								<div class="items-img">
									<img src="img/pizza-item.png" alt="" />
								</div>
								<div class="items-info">
									<div class="items-title">Чизбургер пицца</div>
									<div class="items-text">Томатный соус, брынза, маслины, сладкий перец, томаты, шампиньоны, красный лук, моцарелла, базилик</div>
									<div class="items-get">
										<div class="items-weight">400 гр.</div>
										<div class="items-cost">380
											<span class="rub">c</span>
										</div>
										<div class="items-basket">в корзину</div>
									</div>
								</div>
							</div>
							<div class="items-el">
								<div class="items-new">новинка</div>
								<div class="items-img">
									<img src="img/pizza-item.png" alt="" />
								</div>
								<div class="items-info">
									<div class="items-title">Чизбургер пицца</div>
									<div class="items-text">Томатный соус, брынза, маслины, сладкий перец, томаты, шампиньоны, красный лук, моцарелла, базилик</div>
									<div class="items-get">
										<div class="items-weight">400 гр.</div>
										<div class="items-cost">380
											<span class="rub">c</span>
										</div>
										<div class="items-basket">в корзину</div>
									</div>
								</div>
							</div>
							<div class="items-el">
								<div class="items-new">новинка</div>
								<div class="items-img">
									<img src="img/pizza-item.png" alt="" />
								</div>
								<div class="items-info">
									<div class="items-title">Чизбургер пицца</div>
									<div class="items-text">Томатный соус, брынза, маслины, сладкий перец, томаты, шампиньоны, красный лук, моцарелла, базилик</div>
									<div class="items-get">
										<div class="items-weight">400 гр.</div>
										<div class="items-cost">380
											<span class="rub">c</span>
										</div>
										<div class="items-basket">в корзину</div>
									</div>
								</div>
							</div>
							<div class="items-el">
								<div class="items-new">новинка</div>
								<div class="items-img">
									<img src="img/pizza-item.png" alt="" />
								</div>
								<div class="items-info">
									<div class="items-title">Чизбургер пицца</div>
									<div class="items-text">Томатный соус, брынза, маслины, сладкий перец, томаты, шампиньоны, красный лук, моцарелла, базилик</div>
									<div class="items-get">
										<div class="items-weight">400 гр.</div>
										<div class="items-cost">380
											<span class="rub">c</span>
										</div>
										<div class="items-basket">в корзину</div>
									</div>
								</div>
							</div>
							<div class="items-el">
								<div class="items-new">новинка</div>
								<div class="items-img">
									<img src="img/pizza-item.png" alt="" />
								</div>
								<div class="items-info">
									<div class="items-title">Чизбургер пицца</div>
									<div class="items-text">Томатный соус, брынза, маслины, сладкий перец, томаты, шампиньоны, красный лук, моцарелла, базилик</div>
									<div class="items-get">
										<div class="items-weight">400 гр.</div>
										<div class="items-cost">380
											<span class="rub">c</span>
										</div>
										<div class="items-basket">в корзину</div>
									</div>
								</div>
							</div>
							<div class="items-el">
								<div class="items-new">новинка</div>
								<div class="items-img">
									<img src="img/pizza-item.png" alt="" />
								</div>
								<div class="items-info">
									<div class="items-title">Чизбургер пицца</div>
									<div class="items-text">Томатный соус, брынза, маслины, сладкий перец, томаты, шампиньоны, красный лук, моцарелла, базилик</div>
									<div class="items-get">
										<div class="items-weight">400 гр.</div>
										<div class="items-cost">380
											<span class="rub">c</span>
										</div>
										<div class="items-basket">в корзину</div>
									</div>
								</div>
							</div>
							<div class="items-el">
								<div class="items-new">новинка</div>
								<div class="items-img">
									<img src="img/pizza-item.png" alt="" />
								</div>
								<div class="items-info">
									<div class="items-title">Чизбургер пицца</div>
									<div class="items-text">Томатный соус, брынза, маслины, сладкий перец, томаты, шампиньоны, красный лук, моцарелла, базилик</div>
									<div class="items-get">
										<div class="items-weight">400 гр.</div>
										<div class="items-cost">380
											<span class="rub">c</span>
										</div>
										<div class="items-basket">в корзину</div>
									</div>
								</div>
							</div>
							<div class="items-el">
								<div class="items-new">новинка</div>
								<div class="items-img">
									<img src="img/pizza-item.png" alt="" />
								</div>
								<div class="items-info">
									<div class="items-title">Чизбургер пицца</div>
									<div class="items-text">Томатный соус, брынза, маслины, сладкий перец, томаты, шампиньоны, красный лук, моцарелла, базилик</div>
									<div class="items-get">
										<div class="items-weight">400 гр.</div>
										<div class="items-cost">380
											<span class="rub">c</span>
										</div>
										<div class="items-basket">в корзину</div>
									</div>
								</div>
							</div>
							<div class="items-el">
								<div class="items-new">новинка</div>
								<div class="items-img">
									<img src="img/pizza-item.png" alt="" />
								</div>
								<div class="items-info">
									<div class="items-title">Чизбургер пицца</div>
									<div class="items-text">Томатный соус, брынза, маслины, сладкий перец, томаты, шампиньоны, красный лук, моцарелла, базилик</div>
									<div class="items-get">
										<div class="items-weight">400 гр.</div>
										<div class="items-cost">380
											<span class="rub">c</span>
										</div>
										<div class="items-basket">в корзину</div>
									</div>
								</div>
							</div>
							<div class="items-el">
								<div class="items-new">новинка</div>
								<div class="items-img">
									<img src="img/pizza-item.png" alt="" />
								</div>
								<div class="items-info">
									<div class="items-title">Чизбургер пицца</div>
									<div class="items-text">Томатный соус, брынза, маслины, сладкий перец, томаты, шампиньоны, красный лук, моцарелла, базилик</div>
									<div class="items-get">
										<div class="items-weight">400 гр.</div>
										<div class="items-cost">380
											<span class="rub">c</span>
										</div>
										<div class="items-basket">в корзину</div>
									</div>
								</div>
							</div>
						</div>
						<!--block items end_-->
					</div>
				</div>
			</div>
		</div>
		<!--block footer-->
		<div class="footer-wrap">
			<div class="main-cont">
				<div class="footer">
					<div class="footer-info">
						<div class="type zone-delivery">
							<a href="#">Зона доставки </a>ограничена</div>
						<div class="type">Минимальный заказ - 500
							<span class="rub">c</span>
						</div>
						<div class="type">При оплате наличными
							<br> минимальный заказ - 8000
							<span class="rub">c</span>
						</div>
						<div class="type">Все цены в меню указаны без учета скидок</div>
					</div>
					<div class="footer-get">
						<div class="type">Правовая информация</div>
					</div>
					<div class="footer-sub-el footer-sub-soc">
						<div class="social">
							<a href="#" class="social__el">
								<i class="icon icon-youtube-alt"></i>
							</a>
							<a href="#" class="social__el">
								<i class="icon icon-main"></i>
							</a>
							<a href="#" class="social__el">
								<i class="icon icon-facebook"></i>
							</a>
							<a href="#" class="social__el">
								<i class="icon icon-instagrem"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-sub-wrap">
			<div class="type">2016 Сеть ресторанов “Название ресторана”</div>
		</div>
		<!--block footer end-->
		<!--block modal-item-->
		<div class="modal modal-item">
			<div class="modal-item__title">Чизбургер пицца</div>
			<div class="modal-close"></div>
			<div class="modal-item__img">
				<img src="img/pizza-small.png" alt="" />
			</div>
			<div class="modal-item__info">
				<div class="modal-item__desc">
					<div class="modal-item__text">Томатный соус, брынза, маслины, сладкий перец, томаты, шампиньоны, красный лук, моцарелла, базилик</div>
					<div class="modal-item__get">
						<div class="modal-item__price">410
							<span class="rub">c</span>
						</div>
						<div class="modal-item__link">в корзину</div>
					</div>
				</div>
				<div class="modal-item__condition">
					<div class="modal-item__condition-el">пищевая ценность на 100г</div>
					<div class="modal-item__condition-el">калории: 174 ккал</div>
					<div class="modal-item__condition-el">углеводы: 20 г</div>
					<div class="modal-item__condition-el">белки: 5,6 г</div>
					<div class="modal-item__condition-el">жиры: 4,3 г</div>
				</div>
			</div>
		</div>
		<!--block modal-item end-->
		<!--block modal-city-->
		<div class="modal modal-city">
			<div class="modal-city__title">Выберите город</div>
			<div class="modal-close"></div>
			<div class="modal-city__wrap">
				<a href="#" class="modal-city__el modal-city__el--active">Набережные челны</a>
				<a href="#" class="modal-city__el">Елабуга</a>
				<a href="#" class="modal-city__el">Нижнекамск</a>
				<a href="#" class="modal-city__el">Алметьевск</a>
				<a href="#" class="modal-city__el">Казань</a>
			</div>
		</div>
		<!--block modal-city end-->
		<!--block modal-auth-->
		<div class="modal modal-auth">
			<div class="modal-auth__title">АВТОРИЗАЦИЯ</div>
			<div class="modal-close"></div>
			<div class="modal-city__wrap">
				<a href="#" class="modal-city__el modal-city__el--active">Набережные челны</a>
				<a href="#" class="modal-city__el">Елабуга</a>
				<a href="#" class="modal-city__el">Нижнекамск</a>
				<a href="#" class="modal-city__el">Алметьевск</a>
				<a href="#" class="modal-city__el">Казань</a>
			</div>
		</div>
		<!--block modal-auth end-->
		<script type="text/html" id="lsp-template-menu-item">
			<!-----это каждая карточка товара------>
			<div class="items-new">новинка</div>
			<div class="items-img">
				<a href="<%= url %>" class="img">
					<img src="<%= mediumImageUrl %>" alt="" />
				</a>
			</div>
			<div class="items-info">
				<div class="items-title">
					<a href="<%= url %>" class="tit">
						<%= name %>
					</a>
				</div>
				<div class="items-text">
					<%= description %>
				</div>
				<div class="items-get">
					<div class="items-cost">
						<%=energyAmount%>
							<span class="rub">c</span>
					</div>
					<div class="items-basket jstore-js-put-to-cart">в корзину</div>
				</div>
			</div>

		</script>

		<script type="text/html" id="cart-header-template">
			<% if(totalItems){ %>
				<div class="header__cost">0
					<span class="rub">c</span>
				</div>
				<div class="header__basket">Корзина</div>
				<div class="basket-cond">
					<div class="basket-cond__cont">
						<div class="basket-cond__close"></div>
						<div class="basket-cond__title"> У вас в корзине:</div>
						<div class="items lsp-cart-items-list basket-cond__wrap" data-template="top-cart-item-template"></div>
						<div class="basket-cond__footer">
							<div class="basket-cond__get">
								<a href="<%= urls.order %>">Оформить заказ</a>
							</div>
							<div class="basket-cond__total">
								<%= totalCost %>
									<span class="rub">c</span>
							</div>
						</div>
					</div>
				</div>

				<% } else { %>
					<div class="header__cost">10
						<span class="rub">c</span>
					</div>
					<div class="header__basket">Корзина</div>
					<% } %>
		</script>

		<script type="text/html" id="top-cart-item-template">
			<div class="basket-cond__el">
				<div class="basket-cond__img">
					<img src="<%= smallImageUrl %>" alt="" />
				</div>
				<div class="basket-cond__info">
					<div class="basket-cond__info-title">
						<%= name %>
					</div>
					<div class="basket-cond__numb">
						<%= amount %>
					</div>
					<div class="basket-cond__cost">
						<%= price %>
							<span class="rub">c</span>
					</div>
				</div>
			</div>
		</script>

		<script type="text/html" id="lsp-block-userinfo">
			<%= jStoreApp.t('Contact_phone')%>
		</script>

		<!--build:js js/combined.js-->
		<script src="bower/jquery/dist/jquery.js"></script>
		<script src="bower/owl.carousel/dist/owl.carousel.min.js"></script>
		<script src="bower/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js"></script>
		<script src="bower/bPopup/jquery.bpopup.min.js"></script>
		<script src="js/jquery.smoothscroll.js"></script>
		<!-- endbuild-->
		<script src="js/script.js"></script>
	</body>

</html>
