-
	pages = [
	
		{
			'name':'Главная',
			'href':'index'
		},
		{
			'name':'Заказ',
			'href':'order'
		},
		{
			'name':'Кабинет',
			'href':'cabinet'
		},
		{
			'name':'Кабинет статус',
			'href':'status'
		},
		{
			'name':'Доставка',
			'href':'delivery'
		}
	
	]
	

	condition= [
	
		{
			'icon':'icon-cart',
			'title':'Бесплатно',
			'text':'При покупке от 500 рублей.Вы оплачиваете только заказ. Доставку мы осуществляем бесплатно'
		},
		{
			'icon':'icon-clock',
			'title':'Круглосуточно',
			'text':'Мы работаем 24 часа в сутки,7 дней в неделю, 365 дней в году.'
		},
		{
			'icon':'icon-six',
			'title':'Минут',
			'text':'В течение этого времени заказ будет доставлен.'
		},
		{
			'icon':'icon-search',
			'title':'www.rnr.ru',
			'text':'Более 4000 позиций в меню.'
		},
		{
			'icon':'icon-phone',
			'title':'mobile',
			'text':'iPhone, iPad, Android,Windows phone '
		},
		{
			'icon':'icon-call',
			'title':'8(800)100-7-500',
			'text':'Оформить заказ по телефону '
		},
	
	]

	order= [
	
		{
			'icon':'icon-rocket',
			'title':'Экспресс-доставка',
			'text':'Сделайте экспресс-заказ и получите его в течение 30 минут в городах: Набережные Челны, Нижнекамск, Елабуга'
		},
		{
			'icon':'icon-bag',
			'title':'Забрать из ресторана',
			'text':'Получайте заказ со скидкой 10% в выбранном ресторане в удобное  для вас времялю, 365 дней в году.'
		},
		{
			'icon':'icon-car',
			'title':'Доставка',
			'text':'Сделайте заказ и получите его в течение 60 мин. по указанному вами адресу. '
		},
		{
			'icon':'icon-present',
			'title':'Подарить заказ',
			'text':'Оформляйте заказы в качестве подарка своим родным или близким, инкогнито или открыто заявив о себе.'
		}
	]


	info= [
	
		{
			'icon':'icon-call',
			'title':'Звонок оператора',
			'text':'Сделайте экспресс-заказ и получите его в течение 30 минут в городах: Набережные Челны, Нижнекамск, Елабуга'
		},
		{
			'icon':'icon-message',
			'title':'PUSH уведомление',
			'text':'Получайте заказ со скидкой 10% в выбранном ресторане в удобное для вас времялю, 365 дней в году.'
		},
		{
			'icon':'icon-mail',
			'title':'SMS оповещение',
			'text':'При выборе SMS-оповещения вы даёте свое согласие компании «» на получение оповещений об изменениях статуса заказа (прием, формирование, отправка, доставка заказа), информирование о внутренних акциях и новостях (специальные предложения, скидки и иные рекламно-информационные материалы) сети ресторанов «» с помощью SMS.  '
		}
	]
	
	pay= [
	
		{
			'icon':'icon-wallet',
			'title':'Наличными',
			'text':'Оплата наличными курьеру или в ресторане при получении заказа.'
		},
		{
			'icon':'icon-card',
			'title':'Банковской картой (интернет)',
			'text':'При оформлении заказа на сайте (сервис доступен для карт: Visa, MasterCard)'
		},
		{
			'icon':'icon-card',
			'title':'Банковской картой (при оплате заказа курьеру)',
			'text':'Оплата заказа банковской картой при получении. Принимаются банковские карты MasterCard (кроме Maestro) и Visa (кроме Visa Electron) '
		}
	]

	why = [
	
		{
			'icon':'icon-sphere',
			'title':'Легко заказать',
			'text':'Сделайте экспресс-заказ и получите его в течение 30 минут в городах: Набережные Челны,Нижнекамск, Елабуга'
		},
		{
			'icon':'icon-rocket',
			'title':'Быстро и аккуратно',
			'text':'Получайте заказ со скидкой 10% в выбранном ресторане в удобное для вас времялю, 365 дней в году.'
		},
		{
			'icon':'icon-star',
			'title':'Гарантированное качество',
			'text':'Наши товары проходят специально разработанный процесс контроля качества. Получайте только лучшее. '
		}
	]