//! block modal-auth
.modal-auth__title
	position absolute
	left 0
	top 10px
	display inline-block
	padding 10px 40px
	padding-left 60px
	font-size 22px
	color white
	background red
	up()
	line-height 18px
	font-family "Myriad Pro"
.modal-auth
	width 400px
//!block modal-auth end