//! block delivery
.coner-title
	color white
	font-family Myriad  Pro
	font-size 24px
	font-weight 700
	background  dark
	display inline-block
	up()
	padding 5px 30px 
	margin-bottom 70px
	width 430px
.del-condition
	//margin-bottom 40px
	padding 0 20px
	flex(between)
	fw()
.del-condition__el
	+below(978px)
		width 45%
	width 30%
	margin-bottom 80px
	f()
.del-condition__icon
	font-size 90px
	margin-right 30px
//.del-condition__info
.del-condition__title
	font-size 24px
	up()
.del-cost
	flex(mid)
	margin-bottom 100px
	padding 0 20px
.del-info
	+below(978px)
		flex(mid)
	flex(between)
	margin-bottom 60px
	fw()
.del-INFO__EL
	+below(978px)
		width 52%
.del-info__el-info
	f()
	align-items center
.del-info__el-numb
	color #192a3b
	font-family Core Mellow Compressed
	font-size 100px
	font-weight 400
.art--green
	color green
.art--yellow
	color #fcc717
.art--red
	color red
.art--blue
	color #184094
.art--sky
	color #009fd6
	
.del-info__el-text
	font-size 24px
	margin 0 40px
.del-info__el-art
	font-family Core Mellow Compressed
	font-size 100px
	font-weight 400
.del-info__el-footer
	span 
		font-size 40px
		margin-right 20px		
	f()
.del-info__el-sub
	font-size 24px
//.del-attantion
.del-attantion__title
	up()
	f()
	align-items center
	font-size 24px
	line-height 20px
	margin-bottom 10px
	.icon-attantion
		font-size 40px
		margin-right 20px
//.icon-attantion
.del-attantion__text
	+below(978px)
		margin-left 0
		width 100%
	margin-left 60px
	width 70%
.delivery-map
	height 400px
	background grey
.delivery-zone
	flex(around)
	fw()
	margin 70px 0
.delivery-zone__el
	width 30%
	flex(mid)
.delivery-zone__title
	f()
	align-items center
.delivery-zone__art
	font-family Core Mellow Compressed
	font-size 100px
	margin-right 20px
.delivery-zone__title-text
	up()
	font-size 24px
	font-family Myriad  Pro
.delivery-zone__info
	margin-left 30px
.delivery-zone__info-el
	f()
	align-items center
	margin-bottom 10px
	.icon-clock
		font-size 30px
		margin-right 10px

.del-section
	flex(mid)
	margin-bottom 40px
.del-section__wraper
	+below(1200px)
		width 95%
	width 80%
	flex(between)
	fw()
.del-section__el
	f()
	width 46%
	align-items center 
	margin-bottom 40px
//.del-section__img
.del-section__icon
	round()
	flex(mid)
	margin-right 20px
	background dark 
	width 100px
	height 100px
	color white
	font-size 40px
	.icon-car
		font-size 56px
//.icon-rocket
//.del-section__info
.del-section__title
	font-size 24px
	margin-bottom 10px
//.del-section__text
//.icon-bag
//.icon-car
//.icon-present
//.delivery-zone__info-text

.del-section__wraper-thrd
	.del-section__el
		&:nth-child(3)
			width 100%
//.del-condition__text
//!block delivery end