//! block m-order-list
//.m-order-list
.m-order-list__el
	padding 10px
	margin-bottom 20px
	border-bottom 1px solid #e5e5e5
.m-order-list__title
	font-size 24px
	margin-bottom 10px
.m-order-list__math
	color grey
	font-family Myriad Pro
	font-size 18px
	.rub
		font-weight 400 
		font-size 10px
.m-order-list__info
	flex(between)
	margin-top 10px
.m-order-list__img
	width 40%
.m-order-list__val
	flex(between)
	width 55%
.m-order-list__del
	.icon
		margin-left 30px
		cp()
		font-size 20px
//.icon
//.icon-youtube-alt
//.order-list__decr
//.minus
//.plus
//!block m-order-list end